html {
    font-size: 16px;
}

/* layout */

.container {
    max-width: 980px;
}

/* navBar */

.main-nav {
    height: 130px;
}

.cell {
    width: 130px;
    height: 130px;
    line-height: 130px;
}

/* main content */

/* posts */

.main-content {
    min-height: 1242px;
}

.posts:first-child {
    margin-top: 81px;
}

.post {
    margin-bottom: 80px;
    width: 954px;
}

.post-image {
    height: 307px;
    width: 468px;
}

.post-text-box {
    margin-left: 41px;
}

.post-title {
    width: 386px;
    height: 51px;
    margin-bottom: 58px;
}

.post-content {
    width: 445px;
    height: 114px;
    margin-bottom: 44px;
}

.post-content p:first-child {
    margin-bottom: 25px;
}

.continue-reading:hover {
    width: 210px;
}

/* post navigation */

.posts-navigation {
    max-width: 980px;
}