/* layout */

.container {
    padding-left: 0;
    padding-right: 0;
}

/* navBar */

.main-nav {
    height: 90px;
    position: static;
    box-shadow: inset 0 -6px 0 #1e1e1e;
}

.menu-btn {
    display: none;
}

.main-menu {
    all: initial;
    align-items: flex-end;
    position: static;
    background-color: transparent;
    transform: none;
    font-family: lato;
    color: #ffffff;
    cursor: pointer;
}

.main-menu a {
    all: inherit;
     background-color: transparent;
}

.cell-link {
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.cell {
    width: 100px;
    height: 90px;
    box-shadow: -1px 0 0 #1d1d1d;
    text-align: center;
    line-height: 90px;
}

.cell:first-child {
    margin-top: 0;
}

.cell:hover {
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a;
    color: #58c93a;
}

.cell:last-child {
    box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d;
}

.cell:last-child:hover {
    box-shadow: inset -1px 0 0 #1d1d1d, inset 1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a;
    color: #58c93a;
}

/* main content */

/* posts */

.main-content {
    padding: 0;
    top: 0;
    border: 1px solid #e1e0e0;
    height: 1150px;
}

.posts:first-child {
    margin-top: 3.33rem;
}

.post {
    margin-bottom: 4.33rem;
    width: 100%;
    height: 307px;
    flex-direction: row;
}

.post-image {
    width: 50%;
    margin-bottom: 0;
}

.post-text-box {
    margin-left: 1.67rem;
}

.post-title {
    width: 100%;
    height: 51px;
    font-size: 1.75rem;
    text-transform: uppercase;
    color: #4f4e4e;
    line-height: 30px;
    margin-bottom: 3.3rem;
}

.post-content {
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 3.5rem;
}

/* footer */

.footer-container {
    padding-top: 2rem;
}

.footer-logo {
    margin-bottom: 30px;
}

small {
    line-height: 20px;
    color: #a6a6a6;
    width: 524px;
}

/* Helpers */

/* flex helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}